/saves
/backups
/blueprints
cfmalwarescanner.jar
/config
/crash-reports
/defaultconfigs
/ESM
/essential
/kubejs
folder.jpg
instance.json
instance.json.bak
/.mixin.out
/local
/logs
modifications.json
log4jfixer.jar
mods/L_Enders_Cataclysm-3.16.jar
/resourcepacks/Block borders
rhino.local.properties
/schematics
/screenshots
/tacz
serialization.jar
/tacz_backup
patchouli_data.json
options.txt
observable_announce
usercache.json
usernamecache.json
version.json
win_event1768362804047.txt
